<div class="app-container">
  <mat-toolbar color="primary" class="app-header">
    <span class="title">{{ 'Grade System' | translate }}</span>
    <button mat-button routerLink="">{{ 'Log out' | translate }}</button>
  </mat-toolbar>
  <div class="app-content">
    <div class="headerAndButtonDiv">
      <button mat-button color="primary" routerLink="/dashboard">❮{{ "Go Back"|translate }}</button>
      <mat-select [(ngModel)]="languageService.selectedLanguage" style="width: 120px;"
                  (selectionChange)="languageService.switchLanguage(languageService.selectedLanguage)">
        <mat-option *ngFor="let language of languageService.languages" [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
    </div>
    <div style="display:flex;justify-content: center;align-items: center;height: 90%; flex-direction: column">
      <mat-form-field>
        <mat-label>{{ 'Subject Name'|translate }}</mat-label>
        <input matInput [(ngModel)]="selectedSubject">
      </mat-form-field>
      <div>
        <button mat-raised-button class="formLeftButton" routerLink="/dashboard"> {{ 'Cancel' | translate }}</button>
        <button mat-raised-button class="formRightButton" (click)="this.createSubject(this.selectedSubject)"
                routerLink="/dashboard" color="primary">{{ 'Add'| translate }}
        </button>
      </div>
    </div>
  </div>
</div>


