<mat-toolbar style="justify-content: space-between; background-color: lightskyblue">
  <p>Products</p>
  <i routerLink="/cart" class="material-icons">shopping_cart</i>
</mat-toolbar>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of this.productsService.products">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ product.price | currency : 'CHF' }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
</body>
