body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.snowfall {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.softRain {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    animation: fall linear infinite 1s;
}

@keyframes fall {
    to {
        transform: translate(20vw, 100vh);
    }
}
.flexyRexy{
    display: flex;
    justify-content: center;
    align-items: center;
}


