<div class="header">
  <img routerLink="/profile" class="profilePicture" src="{{this.activeUser.urlToProfilePicture}}"
       alt="image Not Found">
  <p class="title">Logged in as: {{ activeUser.preName }}</p>
  <button class="title" (click)="logout()">Logout</button>
</div>
<div class="body" style="height: 75vh;margin-top: 5vh">
  <!--  <qrcode [qrdata]="generateQRData()"></qrcode>-->
  <div style="width: fit-content; overflow-wrap: break-word">
    <input type="submit"
           (click)="switchShift()"
           value="Ein/Ausstempeln">
    <select required [(ngModel)]="project" id="projectName" name="project">
      <option disabled>Projekt auswählen</option>
      <option *ngFor="let project of projects">{{ project.name }}</option>
    </select>
    <div>
      <button (click)="lastWeek()">Letzte Woche</button>
      <button (click)="nextWeek()">Nächste Woche</button>
    </div>
    <button *ngIf="this.loginService.getAdminIds().includes(this.activeUser.id)" routerLink="/adminDashboard">Go to
      Admin Dashboard
    </button>
    <div class="days">
      <div class="day" *ngFor="let date of getDatesOfWeek()">
        <p>{{ date }} <br> {{ this.activeUser.name }}</p>
        <p>WH {{ this.getBookingsTimeByDate(date, this.activeUser) }}</p>
        <button
          (click)="
          this.bookingService.setFocusedDate(date);
          this.loginService.setFocusedUserId(this.activeUser.id);"
          routerLink="/createBooking">Create
          Booking
        </button>
        <button (click)=
                  "this.loginService.setFocusedUserId(this.activeUser.id);
                   this.bookingService.setFocusedDate(date)"
                routerLink="/viewBookings">View Bookings
        </button>
      </div>
    </div>
    <div *ngIf="this.loginService.isSuperior(this.activeUser.id)">
      <div *ngFor="let worker of this.loginService.isSuperior(this.activeUser.id).members">
        <div class="days">
          <div class="day" *ngFor="let date of getDatesOfWeek()">
            <p>{{ date + " " + this.worker.name }}</p>
            <p>WH {{ getBookingsTimeByDate(date, worker) }}</p>
            <button (click)="this.loginService.setFocusedUserId(worker.id); this.bookingService.setFocusedDate(date)"
                    routerLink="/createBooking">Create Booking
            </button>
            <button (click)="
            this.loginService.setFocusedUserId(worker.id);
            this.bookingService.setFocusedDate(date)"
                    routerLink="/viewBookings">View Bookings
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
