<div>
  <h2
  mat-dialog-title>{{ data === '/gradeDashboard' ? ('Delete Grade' | translate) : ('Delete Subject' | translate) }}</h2>
  <mat-dialog-content>
    <p *ngIf="data === '/gradeDashboard'">
      {{ 'Do you really wanna delete this grade ?' | translate }}
    </p>
    <p *ngIf="data === '/dashboard'">
      {{ 'Do you really wanna delete this subject ?' | translate }}
      <br>
      {{ 'All the related grades will be deleted as well.' | translate }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onDecide(true)">{{ 'Confirm' | translate }}</button>
    <button mat-button (click)="onDecide(false)">{{ 'Cancel' | translate }}</button>
  </mat-dialog-actions>
</div>
