<mat-card class="popup">
  <div>
    <mat-card-title *ngIf="parent === '/gradeDashboard'" class="popup-title">
      {{
        'Delete Grade'|translate
      }}
    </mat-card-title>
    <mat-card-title *ngIf="parent === '/dashboard'" class="popup-title">
      {{
        'Delete Subject'|translate
      }}
    </mat-card-title>
    <mat-card-content class="popup-content">
      <div>
        <p *ngIf="parent === '/gradeDashboard'" class="popup-text">
          {{
            'Do you really wanna delete this grade ?' | translate
          }} </p>
        <p *ngIf="parent === '/dashboard'" class="popup-text">
          {{
            'Do you really wanna delete this subject ?' | translate
          }}
          <br>
          {{
            'All the related grades will be deleted as well.' | translate
          }}
        </p>
      </div>
    </mat-card-content>
    <div class="popup-actions">
      <button mat-button mat-raised-button color="primary" class="button-save"
              (click)="onDecide(true)">{{ 'Confirm' | translate }}
      </button>
      <button mat-button class="button-cancel" (click)="onDecide(false)">{{ 'Cancel' | translate }}</button>
    </div>
  </div>
</mat-card>

