<body>
<div class="app-container">
  <app-toolbar></app-toolbar>
  <div class="app-content">
    <div class="headerAndButtonDiv">
      <button mat-button color="primary" routerLink="/gradeDashboard">❮{{ "Go Back"|translate }}</button>
      <mat-select [(ngModel)]="languageService.selectedLanguage" class="languageSelector"
                  (selectionChange)="languageService.switchLanguage(languageService.selectedLanguage)">
        <mat-option *ngFor="let language of languageService.languages" [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
    </div>
    <div class="creationDiv">
      <mat-form-field>
        <mat-label>{{ 'Grade'|translate }}</mat-label>
        <input matInput [(ngModel)]="selectedGrade">
      </mat-form-field>
      <div>
        <button mat-raised-button class="formLeftButton" routerLink="/gradeDashboard"> {{ 'Cancel' | translate }}
        </button>
        <button mat-raised-button class="formRightButton" (click)="this.handleGrade()"
                routerLink="/gradeDashboard" color="primary">{{ 'Add' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
</body>

