<mat-toolbar style="background-color: lightskyblue; justify-content: space-between">
  <p>Cart</p>
</mat-toolbar>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="margin-top: 20px">
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of cart$ | async; let i = index">
              <td  class="column">{{ product.name }}</td>
              <td  class="column">{{ product.price | currency }}</td>
              <td  class="column">
                <button class="btn btn-danger" mat-raised-button (click)="removeFromCart(i)">Remove<i
                  class="material-icons">delete</i></button>
              </td>
            </tr>
            <tr>
              <td  class="column"><h3>Total: </h3></td>
              <td  class="column"><h3>{{ (cartTotal | async) ?? 0 | currency }}</h3></td>
              <td  class="column">
                <button (click)="resetCart()" mat-raised-button color="primary">Clear<i
                  class="material-icons">delete</i></button>
              </td>
            </tr>
            <tr>
              <td class="column">
                <button mat-raised-button (click)="checkout()" color="primary">Checkout</button>
              </td>
              <td>
              </td>
              <td  class="column">
                <button routerLink="" mat-raised-button>Continue Shopping</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
