<button mat-raised-button routerLink="/homeComp">To Home</button>
<button mat-raised-button routerLink="/BicyclesComp">Bicycles</button>
<button mat-raised-button routerLink="/SearchBicycleComponent">Search Bicycle</button>
<button mat-raised-button (click)="updateBehaviorSubejct()">Search On/Off</button>
<button mat-raised-button [routerLink]="'/Brand/' + brandId">Brand</button>
<label>
  <input type="text" [(ngModel)]="brandId" placeholder="Search Bicycle Brand">
</label>
@for (fullBike of fullBicycles; track $index) {
  <p>Id: {{ fullBike.id }}</p>
  <p>Name: {{ fullBike.name }}</p>
  <p>Value: {{ fullBike.value | currency:'' }}</p>
  <p>Brandname: {{ fullBike.brand }}</p>
  <p>Typename: {{ fullBike.type }}</p>
  <p>---------------</p>
}

