
<button mat-raised-button routerLink="">To Default</button>
<div>
  <div>
    <button (click)="displayBicycleName()">Wie heisst mein Fahrrad?</button>
    <button (click)="getFavoriteBicycleImage()">Mein Lieblingsfahrrad suchen</button>
  </div>
  <label>Titel:<input [(ngModel)]="this.bicycle.name" type="text"></label>
  <p>Mein Lieblingsfahrrad: {{ this.bicycle.name }} </p>
  <div style="display: flex; flex-direction:row; " *ngFor="let bicycle of favoriteBicycle; let i = index">
    <img alt="404 No Picture" [src]="this.favoriteBicycle[i].image.thumbnailLink">
  </div>
</div>
