<body>
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="headerAndButtonDiv">
      <mat-card-title class="title">{{ 'Login' | translate }}</mat-card-title>
      <mat-select [(ngModel)]="languageService.selectedLanguage" class="languageSelectorPrimary"
                  (selectionChange)="languageService.switchLanguage(languageService.selectedLanguage)">
        <mat-option *ngFor="let language of languageService.languages" [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill" class="login-input">
          <mat-label>{{ 'Username' | translate }}</mat-label>
          <input [(ngModel)]="username" matInput name="userName" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="login-input">
          <mat-label>{{ 'Password' | translate }}</mat-label>
          <input [(ngModel)]="password" matInput type="password" name="password" required>
        </mat-form-field>
        <div class="buttonContainer">
          <button mat-raised-button color="primary"  (click)="login()" class="formLeftButton" type="submit">{{ 'Login'|translate }}</button>
          <button mat-raised-button color="primary"  (click)="register()" class="formRightButton" type="submit">{{'Register' | translate}}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</body>
