<body>
<div class="app-container">
  <app-toolbar>
  </app-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Willkommen zur Notenverwaltung</mat-card-title>
      <mat-card-subtitle>Verwalte deine Noten einfach und effizient</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Unsere Notenverwaltungssoftware hilft dir, <br> deine akademischen Leistungen zu organisieren.
      </p>
      <p>
        Mit einer benutzerfreundlichen Oberfläche <br> kannst du Noten und Fächer hinzufügen, bearbeiten und anzeigen.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="login()" mat-button color="primary">Jetzt starten</button>
      <button routerLink="/gallery" mat-button>Zu unserer Gallery</button>
      <button routerLink="/impressum" mat-button>Impressum</button>
    </mat-card-actions>
  </mat-card>
</div>
</body>
