<mat-toolbar color="primary" class="app-header">
  <span class="title">{{ 'Grade System' | translate }}</span>
  <button class="primaryLogoutButton" mat-button routerLink="">{{ 'Log out' | translate }}</button>
  <div class="mobileLanguageAndLogoutButton">
    <div class="secondaryLanguage">
      <mat-select  style="width: 90px" [(ngModel)]="languageService.selectedLanguage"
                  (selectionChange)="languageService.switchLanguage(languageService.selectedLanguage)">
        <mat-option *ngFor="let language of languageService.languages" [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
    </div>
    <button mat-button>
      <i class="material-icons">logout</i>
    </button>
  </div>
</mat-toolbar>
