<div>
  <div class="admin-panel">
    <h2>Create Member</h2>
    <form id="create-member-form">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" [(ngModel)]="this.name" name="memberName" required>
      </div>
      <div class="form-group">
        <label>Prename:</label>
        <input type="text" [(ngModel)]="this.preName" name="memberPrename" required>
      </div>
      <div class="form-group">
        <label>Department:</label>
        <input [(ngModel)]="this.department" type="text" name="memberDepartment" required>
      </div>
      <div class="form-group">
        <select [(ngModel)]="selectedRole" name="roleSelected">
          <option *ngFor="let role of roles">{{ role }}</option>
        </select>
      </div>
      <button (click)="addMember()" routerLink="/dashboard" type="submit">Create Member</button>
    </form>
    <h2>Create Timecode</h2>
    <form>
      <div class="form-group">
        <label>Timecode Name:</label>
        <input type="text" [(ngModel)]="this.timeCodeName" name="timecodeName" required>
      </div>
      <div class="form-group">
        <label>Color: </label>
        <input type="color" [(ngModel)]="this.timeCodeColor" name="timecodeColor" required>
      </div>
      <button (click)="createTimeCode()" routerLink="/dashboard" type="submit">Create Timecode</button>
    </form>
    <h2>Create Project</h2>
    <form>
      <div class="form-group">
        <label>Project Name:</label>
        <input [(ngModel)]="this.projectName" type="text" name="projectName" required>
      </div>
      <button (click)="this.createProject()" routerLink="/dashboard" type="submit">Create Project</button>
    </form>
  </div>
  <div class="admin-panel">
    <div class="membersDiv">
      <h2>Members</h2>
      <button (click)="deleteSuperior()" *ngIf="loginService.isSuperior(this.getId())" >Delete Member</button>
      <button (click)="deleteMember()" *ngIf="!loginService.isSuperior(this.getId())" >Delete Member</button>
    </div>
    <div>
      <button (click)="previousMember()">Previous Member</button>
      <button (click)="nextMember()">Next Member</button>
    </div>
    <div class="membersDiv">
      <p>{{ allMembers[this.index].name }}</p>
      <button (click)="changeAttribute('name')" class="membersButton">Change Name</button>
    </div>
    <div class="membersDiv">
      <p>{{ allMembers[this.index].preName }}</p>
      <button (click)="changeAttribute('preName')" class="membersButton">Change Prename</button>
    </div>
    <div class="membersDiv">
      <p>{{ allMembers[this.index].department }}</p>
      <button (click)="this.changeAttribute('department')" class="membersButton">Change Department</button>
    </div>
    <div *ngIf="this.loginService.isSuperior(this.allMembers[this.index].id)">
      <p>Members:</p>
      <div class="membersDiv" *ngFor="let member of loginService.isSuperior(this.allMembers[this.index].id).members">
        <p>{{ member.username }}</p>
        <button class="membersButton"
                (click)="this.loginService.removeSuperiorMember(this.allMembers[this.index].id, member.id)">Remove Member
        </button>
      </div>
      <div class="membersDiv">
        <select [(ngModel)]="memberToAddName">
          <option *ngFor="let member of membersWithOutUser" [value]="member.username">{{ member.username }}</option>
        </select>
        <button class="membersButton"
                (click)="this.loginService.addSuperiorMember(allMembers[index].id, this.getSelectedMemberToAdd().id)">
          Add Member
        </button>
      </div>
    </div>
  </div>
</div>
