<button mat-raised-button routerLink="/newBicycle">To Default</button>
<div>
  <div>
    <button (click)="displayBicycleName()">Wie heisst mein Fahrrad?</button>
    <button (click)="getFavoriteBicycleImage()">Mein Lieblingsfahrrad suchen</button>
  </div>
  <label>Titel:<input [(ngModel)]="this.bicycle.name" type="text"></label>
  <p>Mein Lieblingsfahrrad: {{ this.bicycle.name }} </p>
  @for (bicycle of favoriteBicycle; track $index) {
    <div style="display: flex; flex-direction:row;">
      <img alt="404 No Picture" [src]="this.bicycle.image.thumbnailLink">
    </div>
  }
</div>
