<div class="container">
  <h2>Edit Booking</h2>
  <form id="bookingForm">
    <label for="dateInput">Date:</label>
    <input [(ngModel)]="this.date" type="date" id="dateInput" name="date">
    <label for="startTimeInput">Start Time:</label>
    <input [(ngModel)]="this.startTime" type="time" id="startTimeInput" name="startTime"
           value="{{this.focusedBooking.startTime}}">
    <label for="durationInput">End Time:</label>
    <input [(ngModel)]="this.endTime" type="time" id="durationInput" name="duration"
           value="{{this.focusedBooking.hours}}">
    <label for="projectSelect">Project:</label>
    <select [(ngModel)]="this.project" id="projectSelect" name="project">
      <option selected>{{ this.focusedBooking.project.name }}</option>
      <option *ngFor="let project of this.projects">{{ project.name }}</option>
    </select>
    <label for="timeCodeSelect">Timecode:</label>
    <select [(ngModel)]="this.timeCode" id="timeCodeSelect" name="timecode">
      <option selected>{{ this.focusedBooking.timeCode.name }}</option>
      <option *ngFor="let timeCode of this.timeCodes">{{ timeCode.name }}</option>
    </select>
    <button (click)="updateBooking()" routerLink="/viewBookings" type="submit">Update Booking</button>
  </form>
</div>
